/* Feuille de style de base du site Stats by Djibdev*/

/* vertclair #A7EA95, vertfoncé #426A38, gris du logo #E3DDE2 , jaune #FFDE00*/

#bloc_page
{
    width: 900px;
    margin: auto;
}


h1
{
background: #A7EA95;
background-image: -webkit-linear-gradient(top, #A7EA95, #426A38);
background-image: -moz-linear-gradient(top, #A7EA95, #426A38);
background-image: -ms-linear-gradient(top, #A7EA95, #426A38);
background-image: -o-linear-gradient(top, #A7EA95, #426A38);
background-image: linear-gradient(to bottom, #A7EA95, #426A38);
font-size: 30px;
color:#E3DDE2;
font-family: Verdana;
}

h2
{
background: #A7EA95;
background-image: -webkit-linear-gradient(top, #A7EA95, #426A38);
background-image: -moz-linear-gradient(top, #A7EA95, #426A38);
background-image: -ms-linear-gradient(top, #A7EA95, #426A38);
background-image: -o-linear-gradient(top, #A7EA95, #426A38);
background-image: linear-gradient(to bottom, #A7EA95, #426A38);
font-size: 20px;
color:#E3DDE2;
font-family: Verdana;
}

p
{
font-size: 14px;
color:#black;
font-family: Verdana;	
}

.ok
{
font-size:18px;
color:green;
}
.nok
{
font-size:18px;
color:red;
}

table 
{
    font-size:1em;
}

/* definit la couleur des caracteres pour victoires, nuls, defaites et forfaits dans la rubrique stats */

.stats_files
{
background-color:#E3DDE2;
}

.forme_v
{
background-color:white;
color:green;
}

.forme_n
{
background-color:white;
color:orange;
}

.forme_d
{
background-color:white;
color:red;
}

.forme_f
{
background-color:white;
color:black;
}

.forme_p
{
background-color:white;
color:purple;
}

/* alternance des couleurs des lignes dans résultats du tableau*/

.trheadcolor
{
background-color:white;
color:black;
}

.trcolor0
{
background-color:#426A38;
color:white;
}

.trcolor1
{
background-color:#A7EA95;
color:black;
}

.trcolorspecial
{
background-color:#E3DDE2 ;
color:black;
}

/* couleur des liens */

a 
{
text-decoration: underline;
color: white;
}

a:visited 
{
color: white;
}
a:hover, a:focus, a:active 
{
text-decoration: none;
color: white;
background: black;
}

.adm
{
color:#426A38;
}

#banniere_image
{
margin-top: 15px;
height: 180px;
border-radius: 5px;
background: url('images/stade.jpg') no-repeat;
position: relative;
box-shadow: 0px 4px 4px #1c1a19;
margin-bottom: 25px;
}

#banniere_description
{
position: absolute;
bottom: 0;
border-radius: 0px 0px 5px 5px;
width: 99.7%;
height: 33px;
padding-top: 15px;
padding-left: 4px;
background-color: rgb(24,24,24); /* Pour les anciens navigateurs */
background-color: rgba(24,24,24,0.8);
color: white;
font-size: 0.8em;
}



.btn {
  background: #A7EA95;
  background-image: -webkit-linear-gradient(top, #A7EA95, #426A38);
  background-image: -moz-linear-gradient(top, #A7EA95, #426A38);
  background-image: -ms-linear-gradient(top, #A7EA95, #426A38);
  background-image: -o-linear-gradient(top, #A7EA95, #426A38);
  background-image: linear-gradient(to bottom, #A7EA95, #426A38);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  border: solid #426A38 2px;
  text-decoration: none;
}

.btn:hover {
  background: #E3DDE2;
  background-image: -webkit-linear-gradient(top, #E3DDE2, #A7EA95);
  background-image: -moz-linear-gradient(top, #E3DDE2, #A7EA95);
  background-image: -ms-linear-gradient(top, #E3DDE2, #A7EA95);
  background-image: -o-linear-gradient(top, #E3DDE2, #A7EA95);
  background-image: linear-gradient(to bottom, #E3DDE2, #A7EA95);
  text-decoration: none;
  color:black;
}

.btn img
{
border: 0;
} 

article, aside, vignettes
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article
{
    position: relative;
    width: 630px;
    margin-right: 15px;
    background-color: white;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 0.9em;
}

article p
{
    font-size: 0.8em;
}

aside
{
    position: relative;
    width: 210px;
    background-color: white;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 0.9em;
}	

